addict==2.2.1
celery==5.2.2
connexion==2.11.2
cryptography==36.0.2
Flask==2.0.3
flask-authz==2.5.0
Flask-Cors==3.0.9
Flask-PyMongo==2.3.0
pydantic==1.8.2
PyJWT==2.4.0
pymongo==3.10.1
PyYAML==5.4
requests==2.27.1
swagger-ui-bundle==0.0.6
toml==0.10.0
typing==3.7.4.1
Werkzeug==2.0.3
