addict==2.2.1
celery==4.1.1
connexion==2.7.0
coverage==5.1
coveralls==2.0.0
flake8==3.7.9
Flask==1.1.2
Flask-Cors==3.0.8
Flask-PyMongo==2.3.0
mongomock==3.19.0
pydantic==1.5.1
PyJWT==1.7.1
pylint==2.5.3
pymongo==3.10.1
pytest==5.4.3
python-semantic-release==7.2.1
PyYAML==5.3.1
requests==2.23.0
swagger-ui-bundle==0.0.6
toml==0.10.0
twine==3.1.1
typing==3.7.4.1
Werkzeug==1.0.1
